# Assignment For This Week
Develop program menggunakan algoritma k-means clustring untuk data 20newsgroups 3 kelas: Sport, Religion dan Technology. Sumber materi dapat diakses di https://tita.lecturer.pens.ac.id/TextMining_SDT/M10.%20Text%20Clustering/Text%20Clustering%20with%20TF-IDF%20in%20Python.pdf

Dengan ketentuan:

#### A. Data dalam bentuk Bag of Words
1. menggunakan rumus jarak Euclidean Distance
2. menggunakan rumus jarak Cosine Similarity

### B. Data dalam bentuk TF/IDF
1. menggunakan rumus jarak Euclidean Distance
2. menggunakan rumus jarak Cosine Similarity

### C. Data dalam bentuk Count Vectorizer
1. menggunakan rumus jarak Euclidean Distance
2. menggunakan rumus jarak Cosine Similarity

#### D. Data dalam bentuk Vocabulary menggunakan rumus jarak Jaccard Index

Buat analisa hasil klaster menggunakan metric performance DBI dan Silhoute score. 
Sajikan dalma bentuk presentasi. Unggah file ppt nya.

# Library

In [1]:
# import the dataset from sklearn
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

# import other required libs
import pandas as pd
import numpy as np

# string manipulation libs
import re
import string
import nltk
from nltk.corpus import stopwords

# viz libs
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset

In [2]:
for i in fetch_20newsgroups().target_names:
    print(i)

alt.atheism
comp.graphics
comp.os.ms-windows.misc
comp.sys.ibm.pc.hardware
comp.sys.mac.hardware
comp.windows.x
misc.forsale
rec.autos
rec.motorcycles
rec.sport.baseball
rec.sport.hockey
sci.crypt
sci.electronics
sci.med
sci.space
soc.religion.christian
talk.politics.guns
talk.politics.mideast
talk.politics.misc
talk.religion.misc

In [3]:
categories = [
 'comp.sys.mac.hardware',
 'comp.os.ms-windows.misc',
 'rec.autos',
 'rec.motorcycles',
 'alt.atheism',
 'soc.religion.christian'
]
dataset = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, remove=('headers', 'footers', 'quotes'))
df = pd.DataFrame(dataset.data, columns=["corpus"])
df

                                                 corpus
0                                                  \n\n
1     Don A.B. Lindbergh meinte am 15.04.93\nzum The...
2     \nThere is just something disconcerting about ...
3     \nOK...\n\n5) How about a fuel gauge that *rea...
4     : Sorry, I did`nt tell exactly what I need.\n:...
...                                                 ...
3435  Has anyone use Snooper or MacEKG or any other ...
3436  \n\tPerhaps we ought not to have supported a k...
3437  \n\nThe argument for Luke's genealogy being th...
3438  \nI hope this will clear it up :\n\n(Taken fro...
3439  Could some kind soul tell me the advance timin...

[3440 rows x 1 columns]

In [5]:
def preprocess_text(text: str, remove_stopwords: bool) -> str:
    # remove links
    text = re.sub(r"http\S+", "", text)
    # remove special chars and numbers
    text = re.sub("[^A-Za-z]+", " ", text)
    # remove stopwords
    if remove_stopwords:
        # 1. tokenize
        tokens = nltk.word_tokenize(text)
        # 2. check if stopword
        tokens = [w for w in tokens if not w.lower() in stopwords.words("english")]
        # 3. join back together
        text = " ".join(tokens)
    # return text in lower case and stripped of whitespaces
    text = text.lower().strip()
    return text

In [6]:
df['cleaned'] = df['corpus'].apply(lambda x: preprocess_text(x, remove_stopwords=True))
df.tail(5)

,corpus,cleaned
3435,Has anyone use Snooper or MacEKG or any other ...,anyone use snooper macekg similar diagnostic s...
3436,\n\tPerhaps we ought not to have supported a k...,perhaps ought supported known genocidist provi...
3437,\n\nThe argument for Luke's genealogy being th...,argument luke genealogy mary weak according lu...
3438,\nI hope this will clear it up :\n\n(Taken fro...,hope clear taken one lecture notes alternative...
3439,Could some kind soul tell me the advance timin...,could kind soul tell advance timing revs xs sp...

# A. Bag Of Words

# B. TF/IDF

# C. Count Vectorizer

# D. Jaccard Index